<div class="row">
  <div class="span12">
    <h2>Teams</h2>
    
    <%= link_to image_tag('team_new.png', :title => 'New team', :alt => 'New Team', :width => 40), new_team_url %>
    
    <table class="table">
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>



